* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/*Nav links item */
.navbar-nav {                           
    margin: 0 auto;
}

/*sigup/login buttons */
.d-flex {                               
    justify-content: space-between;
}


/* img logo */
.me-1 {
    position: absolute;
    top: 7px;
}

.me-2 {
    position: absolute;
    top: 32px;
}

/* carousel hero section */
.hero-carousel .carousel-inner {        
    height: 90vh; 
  }

  .carousel-item {
    height: 100%; 
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
  }

  .hero-carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

   /* reducing the width of the input to search */
   .input-group .btn-outline-dark:hover {    
    color: #000;
    background-color: #fff;
  }

  .form-control input {
    min-width: 20%;
    outline: none;
  }

  .bi-search {
    font-size: 0.7rem;
  }

  input::placeholder {
    font-size: 0.8rem;
  }
  

  /* Featured Models on the hero section*/
  .align-items-center .img-fluid {    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 344px) {
    .align-items-center .img-fluid {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .container .input-group {
        width: 100%;
        outline: none;
        font-size: 0.8rem;
        padding: 10px 16px;
    }

    .input-group .btn.btn-success {
        width: 30%;
    }
  }

  @media (min-width: 430px) {
    /* width of the input */
    .input-group {
        width: 100%;
        outline: none;
        font-size: 0.8rem;
        padding: 10px 16px;
      } 
      
      .input-group .btn.btn-success {
        width: 30%;
      }
  }

  @media (min-width: 390px) {
    /* width of the input */
    .input-group {
        width: 500%;
        outline: none;
        font-size: 0.8rem;
        padding: 10px 16px;
      }

      .input-group .btn.btn-success {
        width: 30%;
      }
  }

  @media (min-width: 412px) {
    
    /* width of the input */
    .input-group {
        width: 100%;
        outline: none;
        font-size: 0.8rem;
        padding: 10px 16px;
      } 
      
      .input-group .btn.btn-success {
        width: 30%;
      }
  }

  /* Explore */
  .btn-primary {
    background-color: #cd8c0c;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 6px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .jumbotron-bg {
    background-image: url('/Images/culture\ of\ men\ and\ women.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 190px;
    position: relative;
    border-radius: 10px;
  }

  .jumbotron-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .jumbotron-content {
    position: relative;
    z-index: 2; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Collections of Nigerian Visuals */
  .image-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text-overlay {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8); 
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
  }

  
@media (min-width: 361px) and (max-width: 768px) {
    .text-overlay {
        position: absolute;
        top: 80%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
      }
}

  @media (min-width: 620px) {
   .image-text {
    font-size: 0.8rem;
    bottom: 1%;
    left: 36%;
   }
  }


  /* Carousel Images first slides on Nigeria's visual story*/
    #image36 img {
        transform: translateY(20px);
    }

    #image37 img {
        transform: translateY(-60px);
    }

    #image38 img {
        transform: translateY(-95px);
    }

    #image39 img {
        transform: translateY(-280px);
    }

    #image40 img {
        transform: translateY(-38px);
    }

    #image41 img {
        transform: translateY(-73px);
    }

    /* Carousel Images second slides on Nigeria's visual story*/
    #image33_33 {
        
    }

    #image34_34 {

    }

    #image35_35 {

    }

    #image36_36 {
        transform: translateY(18px);
    }

    #image37_37 {
        transform: translateY(-120px);
    }

    #image38_38 {
        transform: translateY(-158px);
    }

    #image39_39 {
    
    }

    #image40_40 {
        transform: translateY(-100px);
    }

    #image41_41 {
        transform: translateY(-200px);
    }

    @media (max-width: 360px) {  /* carousel first slide of Nigeria's visual story captured */
    #image34 img {
        transform: translateY(20px);
    }

    #image35 img {
        transform: translateY(40px);
    }

    #image36 img {
        transform: translateY(60px);
    }

    #image37 img {
        transform: translateY(80px);
    }

    #image38 img {
        transform: translateY(100px);
    }

    #image39 img {
        transform: translateY(120px);
    }

    #image40 img {
        transform: translateY(145px);
    }

    #image41 img {
        transform: translateY(170px);
    }

    .custom-indicators {
        display: flex;
        justify-content: start;
        position: relative;
        top: 100px;
      }

      /* Carousel Images second slides on Nigeria's visual story captured*/
    #image33_33 {
        
    }

    #image34_34 {

    }

    #image35_35 {

    }

    #image36_36 {
        transform: translateY(13px);
    }

    #image37_37 {
        transform: translateY(-40px);
    }

    #image38_38 {
        transform: translateY(-53px);
    }

    #image39_39 {
        transform: translateY(100px);
    }

    #image40_40 {
        transform: translateY(-25px);
    }

    #image41_41 {
        transform: translateY(-60px);
    }
}

@media (min-width: 375px) and (max-width: 452px) { 
    /* carousel images first slide on Nigeria/'s Visual story captured */
    #image34 img {
        transform: translateY(15px);
    }

    #image35 img {
        transform: translateY(30px);
    }

    #image36 img {
        transform: translateY(60px);
        margin-top: 30px;
    }

    #image37 img {
        transform: translateY(0px);
        margin-top: 48px;
    }

    #image38 img {
        transform: translateY(300px);
        margin-top: 32px;
    }

    #image39 img {
        transform: translateY(300px);
        margin-top: 78px;
    }

    #image40 img {
        transform: translateY(-200px);
        margin-top: -68px;
    }

    #image41 img {
        transform: translateY(-200px);
        margin-top: 34px;
    }

    /* Carousel Images second slides on Nigeria's visual story captured*/
    #image33_33 {
        
    }

    #image34_34 {
        transform: translateY(20px);
    }

    #image35_35 {
        transform: translateY(50px);
    }

    #image36_36 {
        margin-top: 55px;
    }

    #image37_37 {
        margin-top: 75px;
    }

    #image38_38 {
        margin-top: 40px;
    }

    #image39_39 {
        margin-top: -130px;
    }

    #image40_40 {
        margin-top: 150px;
    }

    #image41_41 {
        margin-bottom: -30px;
        margin-top: 58px;
    }

    /* Millions of Nigerian Visuals ready to go */
    .align-items-center .img-fluid {
        width: 30%;
      }

      /* width of the input */
      .input-group {
        width: 100%;
        outline: none;
        font-size: 0.8rem;
      }

      .btn.btn-success {
        width: 50%;
        font-size: 0.8rem;
      }
}


@media (min-width: 361px) and (max-width: 768px) {
    /* carousel images first slides on Nigeria's Visual story captured */
    #image36 img {
        transform: translateY(15px);
    }

    #image37 img {
        transform: translateY(-15px);
    }

    #image38 img {
        transform: translateY(-30px);
    }

    #image39 img {
        transform: translateY(-88px);
    }

    #image40 img {
        transform: translateY(0);
    }

    #image41 img {
        transform: translateY(-15px);
    }

    /* Carousel Images second slides on Nigeria's visual story captured*/
    #image33_33 {
        
    }

    #image34_34 {

    }

    #image35_35 {

    }

    #image36_36 {
        transform: translateY(13px);
    }

    #image37_37 {
        transform: translateY(-40px);
    }

    #image38_38 {
        transform: translateY(-53px);
    }

    #image39_39 {
        transform: translateY(100px);
    }

    #image40_40 {
        transform: translateY(-25px);
    }

    #image41_41 {
        transform: translateY(-60px);
    }

    .benefits {
        margin-top: -100px;
    }
}

  /* Positioned indicators below the carousel/images */
 .custom-indicators {      
    display: flex;
    justify-content: start;
    position: relative;
    bottom: 250px;
  }
  .custom-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
  }
  .custom-indicators .active {
    background-color: rgba(0, 0, 0, 0.9);
  }

  /* Positioned controls outside the carousel/images */
  .custom-controls {   
    display: flex;
    justify-content: end;
    position: relative;
    top: 25px;
    margin-top: -300px;
    gap: 10px;
  }

  .custom-controls .carousel-control-prev {
    display: flex;
    position: relative;
    bottom: 0;
    width: 40px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  .custom-controls .carousel-control-next {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 0;
    width: 40px;
    height: 30px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  @media (min-width: 375px) {
    .custom-indicators {
        transform: translateY(50px);
      }
     
      .custom-controls {
          top: 25px;
          display: flex;
          justify-content: end;
          position: relative;
          margin-top: -30px;
          gap: 10px;
        }
      
        .custom-controls .carousel-control-prev {
          display: flex;
          justify-self: start;
          position: relative;
          transform: translateY(50px);
          width: 30px;
          height: 20px;
          font-size: 1.5rem;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 10%;
          padding: 10px;
          color: black;
        }
      
        .custom-controls .carousel-control-next {
          display: flex;
          justify-self: end;
          position: relative;
          transform: translateY(50px);
          width: 30px;
          height: 20px;
          font-size: 1.5rem;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 10%;
          padding: 10px;
          color: #000;
        }
    }
  

  @media (max-width: 768px) {
   .custom-indicators {
      top: -55px;
    }
   
    .custom-controls {
        top: 25px;
        display: flex;
        justify-content: end;
        position: relative;
        margin-top: -30px;
        gap: 10px;
      }
    
      .custom-controls .carousel-control-prev {
        display: flex;
        justify-self: start;
        position: relative;
        top: -65px;
        width: 30px;
        height: 20px;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
        padding: 10px;
        color: black;
      }
    
      .custom-controls .carousel-control-next {
        display: flex;
        justify-self: end;
        position: relative;
        top:  -65px;
        width: 30px;
        height: 20px;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
        padding: 10px;
        color: #000;
      }
  }

   
    /* Benefits */
    #benefits p {       
        min-width: 50px;
    }

    @media (max-width: 768px) {
        #benefits p {
            font-size: 0.6rem;
            min-width: 0;
            text-align: start;
        }

        #benefits h5 {
            font-size: 0.7rem;
        }

         #benefits img {
            width: 70%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (min-width: 375px) and (max-width: 452px) {
        #benefits p {
            font-size: 0.6rem;
            min-width: 0;
            text-align: start;
        }

        #benefits h5 {
            font-size: 0.7rem;
        }

         #benefits img {
            width: 40%;
            height: auto;
            object-fit: cover;
        }
    }
   
    /* Visual beauty */
    #jumbotron-bg h2 {
        font-size: 1.2rem;
        max-width: 400px;
        line-height: 1.5;
    }

    .text-start {
        margin: 20px;
    }

    #jumbotron-bg {
        background-image: url('/Images/Officers1.jpg');
        background-size: 450px;
        background-position: center;
        color: white;
        height: 250px;
        position: relative;
        border-radius: 0;
        left: rgba(0, 0, 0, 0.5);
      }

      .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      }

      @media (max-width: 768px) {
        #jumbotron-bg h2 {
            font-size: 1rem;
            max-width: 250px;
            line-height: 1.5;
        }
    
        .text-start {
            margin: 20px;
        }
    
    #jumbotron-bg {
        background-image: url('/Images/Officers1.jpg');
        background-size: 200px;
        background-position: center;
        color: white;
        height: 200px;
        position: relative;
        border-radius: 0;
        }
    }

      /* Footer */
     .footer {
        margin-top: 100px;
     }
     
     #footer h4 {
        font-size: 1.2rem;
     }

     #footer a {
        text-decoration: none;
        font-size: 1rem;
     }

     #dropdown-btn span:hover {
        background-color: none;
     }

     @media (max-width: 768px) {
        #Logo h4 {
            font-size: 0.9rem;
        }

        #Logo p {
            font-size: 0.7rem;
        }

        #footer h4 {
            font-size: 0.9rem;
        }

        #footer a {
            text-decoration: none;
            font-size: 0.8rem;
            line-height: 0px;
         }

         #languageDropdown span {
            font-size: 0.9rem;
         }
     }

     @media (min-width: 361px) and (max-width: 768px) {    
        .benefits {
            margin-top: -100px;
        }
    }
    